<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ShopEntities" connectionString="metadata=res://*/Model.Shop.csdl|res://*/Model.Shop.ssdl|res://*/Model.Shop.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Shop;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>